.navbar-container {
    display: flex;
    justify-content: space-around;
    background-color: rgba(43, 54, 54, 0.5);
    align-items: center;
    min-height: 8vh;
}

.brand-title {
    display: inline;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.ul-nav {
    display: flex;
    justify-content: space-around;
    width: 30%;

}

.ul-nav li {
    list-style-type: none;
}

.ul-nav li a {
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}


.navbar-container a {
    text-decoration: none;
    color: rgb(255, 255, 255);

}

.ul-nav li a:hover {
    background-color: rgba(0, 0, 0);
    color: rgba(255, 255, 255, 1)
}
.burger{
    display: none;
    cursor: pointer;
}
.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin: 5px;
}


@media screen and (max-width: 1024px){
    .ul-nav{
        width: 60%;
    }
}
@media screen and (max-width: 600px){
    body{
        overflow-x: hidden;
    }
    .burger{
        display: block;
    }
    .ul-nav{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: rgba(43, 54, 54, 0.5);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in
    }
    .ul-nav li {
        opacity: 0;
    }
}

.nav-active{
    transform: translateX(0%);
}
